<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="bootstrap.php" 
    colors="true"
    printerFile="vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
  	printerClass="NyanCat\PHPunit\ResultPrinter">

    <testsuite name="Score11 REST Service Integration Tests">
        <directory>./integration</directory>
    </testsuite>
    
    <testsuite name="Score11 REST Service Unit Tests">
        <directory>./unit</directory>
    </testsuite>
</phpunit>